#intro {
  text-align: center;
  background-color: rebeccapurple;
  color: white;
  background-image: url(../img/boat.jpg);
  background-size: cover;
  background-position: inherit;
  height: 100vh;
  /* background-attachment: fixed; */
}

@media all and (max-width: 1024px) {
  #intro {
    /* background-position: top; */
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  #intro {
    height: 100vh;
  }

  #intro #news {
    position: relative;
    top: 20vh !important;
    left: 0vw !important;
    display: inline-block;
  }

  #skills {
    color: red;
    min-height: 100vh;
  }

  #intro,
  #skills,
  #photos {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
  }

  #nametag {
    top: 12vh !important;
    color: white;
  }
}
#intro .container {
  padding-bottom: 100px;
  background-color: black;
  opacity: 0.3;
  border-radius: 5px;
  width: 25%;
  position: relative;
  top: 100px;
  padding-bottom: 10px;
}

@media all and (min-width: 1024px) {
  #intro,
  #skills,
  #photo {
    background-attachment: fixed;
  }

  #intro #news {
    position: relative;
    top: -20vh !important;
    left: 40vw !important;
    display: inline-block;
  }
}

@media all and (max-width: 420px) {
  #intro .container {
    width: 50%;
  }
}

#intro #news a {
  color: white;
}

#intro #news a:hover {
  color: blue;
}

#intro #mixtapeCover,
#intro #paypalQR {
  height: 30vh;
  border-radius: 10px;
}

#about {
  text-align: center;
  background-color: gray;
  color: white;
  padding: 50px;
  min-height: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#about #interests-left {
  display: inline-block;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  #general,
  #music,
  #games {
    padding-inline-start: 0px;
    -webkit-padding-start: 0px;
  }

  #interests-left,
  #interests-mid,
  #interests-right {
    padding-inline-start: 25px;
    -webkit-padding-start: 25px;
  }

  #about #interests-mid li ul {
    padding-inline-start: 15px;
    -webkit-padding-start: 15px;
  }

  #about #interests-right li ul {
    padding-inline-start: 15px;
    -webkit-padding-start: 15px;
  }
}

#about ul li {
  text-align: left;
}

@media all and (min-width: 768px) {
  #interests > section {
    width: 25% !important;
    left: 12.495% !important;
  }
}

#more-games {
  display: none;
}

#skills {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #74b313;
  color: white;
  background-image: url(../img/lake.jpg);
  background-size: cover;
  background-position: center;
  /*height: 350px;*/
  /* background-attachment: fixed; */
}

#skills h2 {
  font-size: 36px;
}

#skills img {
  height: 100px;
}

#skills .container {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

@media all and (min-width: 768px) {
  #languages {
    width: 75%;
    left: 12.5%;
    position: relative;
  }

  #skills .container {
    width: 60vw;
  }
}

#skills .icon {
  display: inline-block;
  position: relative;
  height: 100px;
  z-index: 2;
}

/* for mobile up to portrait */
@media all and (min-width: 320px) and (max-width: 670px) {
  #skills img,
  #skills .icon {
    height: 75px;
  }
}

#skills .icon img:hover {
  opacity: 0;
}

#skills .icon span.icon-text {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
}
#skills .icon:hover span.icon-text {
  opacity: 1;
  visibility: visible;
}

#skills #otherSkills {
  font-size: 18px;
}

#known {
  list-style: none;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
#known li {
  border: 1px solid black;
}

@media all and (max-width: 320px) {
  #known li {
    padding-left: 0px;
  }
}

#known li:odd {
  background: red;
}

#otherSkills {
  text-align: left;
}

#projects {
  text-align: center;
  background-color: gray;
  color: white;
  padding-bottom: 20px;
}

#projects h2 {
  font-size: 36px;
  display: inline-block;
}

#projects .git-logo {
  max-height: 50px;
  margin-bottom: 15px;
}

#displayedProjectName {
  display: block;
  font-size: 20px;
}

#currentDisplayedProject img {
  max-height: 40vh !important;
}

#otherProjects img {
  max-height: 25vh !important;
}

#projects .project {
  border: 1px solid black;
  padding-bottom: 10px;
  font-size: 16px;
}

#projects .project > span {
  display: block;
}

#projects .img_placeholder {
  height: 120px;
  font-size: 18px;
}

#projects .project img.img-responsive {
  max-height: 260px;
  display: inline-block;
}

#projects .icon:hover {
  color: white;
}

#projects .icon img:hover {
  opacity: 0.4;
}

#projects .icon span.icon-text {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
}

#projects .icon img:hover + span.icon-text {
  opacity: 1;
  z-index: 1;
}

#projects .icon span.icon-text:hover {
  opacity: 1;
  z-index: 1;
}

#projects #currentDisplayedProject img.img-responsive {
  max-height: 500px;
}

@media all and (max-width: 1024px) {
  #projects .img_placeholder {
    width: initial;
  }
}

#photos {
  text-align: center;
  background-color: blue;
  color: white;
  padding-bottom: 25px;
  background-image: url(../img/mountain.jpg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

footer {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
}

.close-modal {
  text-align: right;
  font-size: 24px;
  top: 25px;
  right: 25px;
  position: absolute;
}

.close-modal:hover {
  cursor: pointer;
}
