
header, footer {
    background: green;
    color: rgb(173, 14, 14);
    text-align: center;
color: rgb(128, 61, 16);
}

header {
	text-align: center;
	width: 100%;
	top: 0;
	padding:25px;
}

footer {
    text-align: center;
    position: absolute;
	width: 100%;
}

body {
    background: rgb(21, 21, 61);
    color: white;
}

section#strangerVidContainer {
	text-align: center;
}

.modal-content {
	background: red;
}

.expand {
	width: 100px;
	transition: 2s ease width;
}