
header, footer {
    background: green;
    color: rgb(173, 14, 14);
    text-align: center;
color: rgb(128, 61, 16);
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    background: rgb(21, 21, 61);
    color: white;
}